<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkinWise"
        tools:targetApi="31">
        <activity
            android:name=".view.RoutineTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".view.LessonUploadActivity"
            android:exported="false" />
        <activity
            android:name=".view.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".view.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.SelectableProductAdapter"
            android:exported="false" />
        <activity
            android:name=".view.RoutineActivity"
            android:exported="false" />
        <activity
            android:name=".view.SkinTypeResultActivity"
            android:exported="false" />
        <activity
            android:name=".view.SkinTypeQuizActivity"
            android:exported="false" />
        <activity
            android:name=".view.QuizResultActivity"
            android:exported="false" />
        <activity
            android:name=".view.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".view.QuizActivityActivity"
            android:exported="false" />
        <activity
            android:name=".view.EducationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.EducationActivity"
            android:exported="false" />
        <activity
            android:name=".view.SearchResultsActivity"
            android:exported="false" />
        <activity
            android:name=".view.FavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".view.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".view.ScanBarcodeActivity"
            android:exported="false" />
        <activity
            android:name=".view.AgeSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".view.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notifications.ReminderReceiver"
            android:exported="true" />
    </application>

</manifest>